
#pane{
    -fx-background-color: #0D3B66;
    -fx-text-fill: #F4D35E;
}
.label{
    -fx-text-fill: #F4D35E;
}
.button{
    -fx-background-color: #F4D35E;
    -fx-text-fill: #0D3B66;
    -fx-faint-focus-color: transparent;
    -fx-focus-color:#000000;
}
.text-field{
    -fx-background-color: #F4D35E;
    -fx-text-fill: #0D3B66;
    -fx-prompt-text-fill: #0D3B66;
    -fx-faint-focus-color: transparent;
    -fx-focus-color:#000000;
}
.combo-box{
    -fx-background-color: #F4D35E;
    -fx-text-fill: #0D3B66;
    -fx-faint-focus-color: transparent;
    -fx-focus-color:#000000;
}
.table-view .column-header-background .label{
    -fx-text-fill: #0D3B66;
    -fx-faint-focus-color: transparent;
    -fx-focus-color:#000000;
}

.table-view .label {
    -fx-text-fill: #0D3B66;
}
.date-picker .label{
    -fx-text-fill: #0D3B66;
}

.text-field:hover {
    -fx-background-color: #fcd12b;
}

.button:hover{
    -fx-background-color: #fcd12b;
}

.button:focused{
    -fx-background-color: #fcd12b;
}

combo-box:hover {
    -fx-background-color: #fcd12b;
}
